GEMINI_API_KEY=your_gemini_api_key_here
OPENROUTER_API_KEY=your_openai_api_key_here


ZOHO_CLIENT_ID=your_zoho_client_id
ZOHO_CLIENT_SECRET=your_zoho_client_secret
ZOHO_REFRESH_TOKEN=your_zoho_refresh_token
ZOHO_ORGANIZATION_ID=your_zoho_organization_id
ZOHO_EXPENSE_ACCOUNT_ID=your_zoho_expense_account_id
ZOHO_ACCOUNTS_URL=https://accounts.zoho.in
ZOHO_API_BASE_URL=https://www.zohoapis.in/books/v3
