GEMINI_API_KEY=your_gemini_api_key_here
OPENROUTER_API_KEY=your_openrouter_api_key_here


ZOHO_CLIENT_ID=your_zoho_client_id
ZOHO_CLIENT_SECRET=your_zoho_client_secret
ZOHO_REFRESH_TOKEN=your_zoho_refresh_token
ZOHO_ORGANIZATION_ID=your_zoho_organization_id
ZOHO_EXPENSE_ACCOUNT_ID=your_zoho_expense_account_id
ZOHO_ACCOUNT_PRINTING=your_zoho_account_printing_id
ZOHO_ACCOUNT_TRAVEL=your_zoho_account_travel_id
ZOHO_RAWMATERIALS_CONSUMABLES=your_zoho_account_rawmaterials_consumables_id
ZOHO_ACCOUNT_MEAL_ENTERTAINMENT=your_zoho_account_meal_entertainment_id
ZOHO_ACCOUNT_OTHER_EXPENSES=your_zoho_account_other_expenses_id
ZOHO_ACCOUNTS_URL=https://accounts.zoho.in
ZOHO_API_BASE_URL=https://www.zohoapis.in/books/v3