venv/
**/venv/
.env
.vscode/
__pycache__/
*.pyc

# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml



# OS / editor cruft
.DS_Store
.vscode/
.idea/
*.swp
Taxor_Screening_Task.docx